.inline1
{
	display:inline-block;
	font-size:80px;
	height:140px;
}
.inline1 a
{
	text-decoration: none;
}
.inline1 div
{
	height:0px;
	margin:23px;
}
.nav button
{
	border:0px;
	width:100px;
	height:50px;
	margin:10px 50px 150px 130px;
	background-color:#FFD700;
	font-size:20px;
	
}
.nav a 
{
	text-decoration: none;

}


.nav
{
	height:70px
}
#user
{
	float:right;
	}
.footer div
{
	display:inline-block;
	margin:0px 50px 0px 180px;
}
.login
{
	background-color:#4876FF;
	color:#FCFCFC;
}
.publish
{
	width:700px;
	height:100px;
	margin-left:300px;
	line-height:20px;
	text-indent:20px;
	
}
.publishbut
{
	margin-left:950px;
	background-color:#436EEE;
	color:white;
	width:50px;
	height:25px;
}
/*.content1
{
	margin-left:200px;
}
.content2
{
	margin-left:20px;
}
.content3
{
	margin-left:20px;
}*/
{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body{
background: #fff;
font-family: "Helvetica Neue", sans-serif;
margin: 50px;
}
#timeline{
margin-left: 10%;
border-left: 10px solid #bce1fa;
}
#timeline li{
position: relative;
list-style: none;
display: block;
width: 100%;
clear: both;
}
#timeline li::before{
content: '';
display: block;
width: 30px;
height: 30px;
border: 5px solid #bce1fa;
border-radius: 50%;
background: #3498DB;
position: absolute;
left: -25px;
top: 0;
/*box-sizing: border-box;*/
}
#timeline li time{
position: absolute;
left: -30%;
top: 8px;
width: 25%;
font-size: 21px;
color: #AAA;
text-align: right;
}
.timeline-content{
position: relative;
margin: 0 0 20px 5%;
background: #57b4f6;
color: #fff;
border-radius: 4px;
padding: 30px;
}
.timeline-content h1{
font-size: 32px;
margin-bottom: 20px;
}
.timeline-content::after{
content:'';
width: 0;
height: 0;
border-width: 10px;
border-style: solid;
border-color: transparent #57b4f6 transparent transparent;
position: absolute;
left: -20px;
top: 12px;
}
