.inline1
{
	display:inline-block;
	font-size:80px;
}
.inline1 a
{
	text-decoration: none;
}
.inline1 div
{
	height:0px;
	margin:23px;
}
.nav button
{
	border:0px;
	/*float:left;*/
	width:80px;
	height:40px;
	margin:50px 0px 50px 0px;
	background-color:#FFD700;
}
#user
{
	float:right;
	}
.footer div
{
	display:inline-block;
	margin:0px 100px 0px 150px;
}
.login
{
	background-color:#4876FF;
	color:#FCFCFC;
}
.publish
{
	width:700px;
	height:100px;
	margin-left:300px;
	line-height:20px;
	text-indent:20px;
	
}
.publishbut
{
	margin-left:950px;
	background-color:#436EEE;
	color:white;
	width:50px;
	height:25px;
}
.content1
{
	margin-left:200px;
}
.content2
{
	margin-left:20px;
}
.content3
{
	margin-left:20px;
}