.inline1
{
	display:inline-block;
	font-size:80px;
	height:140px;
}
.inline1 a
{
	text-decoration: none;
}
.inline1 div
{
	height:0px;
	margin:23px;
}
.nav button
{
	border:0px;
	width:100px;
	height:50px;
	margin:10px 50px 150px 130px;
	background-color:#FFD700;
	font-size:20px;
	
}
.nav a 
{
	text-decoration: none;

}


.nav
{
	height:70px
}
#user
{
	float:right;
	}
.footer div
{
	display:inline-block;
	margin:0px 50px 0px 180px;
}
.img
{
	margin-left:100px;
	margin-top:20px;
	text-align:center;
}
.photo div
{
	display:inline-block;
	margin-left:5px;
}
.photo
{
	text-align:center;
}
.login
{
	background-color:#4876FF;
	color:#FCFCFC;
}
.imgs
{
	margin-left:180px;
}