.inline1
{
	display:inline-block;
	font-size:80px;
}
.inline1 a
{
	text-decoration:none;
}
.inline1 div
{
	height:0px;
	margin:23px;
}
.nav button
{
	border:0px;
	/*float:left;*/
	width:80px;
	height:40px;
	margin:50px 0px 50px 0px;
	background-color:#FFD700;
}
#user
{
	float:right;
	}
.footer div
{
	display:inline-block;
	margin:0px 150px 0px 150px;
}
.inline2
{
	text-align:center;
}

.layout1
{
	position:absolute;
	width:30%;
}

.login
{
	background-color:#4876FF;
	color:#FCFCFC;
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
	width:96px;
	
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: none;
    width:120px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    left:95px;
	top:-4px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}